results/
mapped*/
fastq/
anvio_*/
bins*/
checkm_*/
prokka_*/
megahit*/
meme_out/
MIS3_trial_results*
*.tar.gz
*.bam
*.bam.bai
*.db
*.fa
*.fasta
*.fastq
*.fastq.gz
*.rds
*.out
*.err
*.log
3.*_cpython
.DS_Store
